################################
# Node / Angular
################################
node_modules
dist
.angular
.cache
.npm
npm-debug.log
yarn-error.log

################################
# Env / config locali
################################
.env
.env.*
*.local

################################
# Git
################################
.git
.gitignore

################################
# IDE / Editor
################################
.vscode
.idea

################################
# OS
################################
.DS_Store
Thumbs.db

################################
# Test / Coverage
################################
coverage
cypress
playwright

################################
# Docker
################################
Dockerfile
test-docker-fe.sh
