
@use '../../../../styles/theme/theme' as *;


/* =====================================================
   AZZURRA MAKEUP PROJECT
===================================================== */
:host {
  display: flex;
  justify-content: center;
}

