
<div class="social-list">

  <a *ngIf="github" [href]="github" target="_blank" aria-label="GitHub">
    <app-svg-github></app-svg-github>
  </a>

  <a *ngIf="linkedin" [href]="linkedin" target="_blank" aria-label="LinkedIn">
    <app-svg-linkedin></app-svg-linkedin>
  </a>

  <a *ngIf="instagram" [href]="instagram" target="_blank" aria-label="Instagram">
    <app-svg-instagram></app-svg-instagram>
  </a>

  <a *ngIf="facebook" [href]="facebook" target="_blank" aria-label="Facebook">
    <app-svg-facebook></app-svg-facebook>
  </a>

  <a *ngIf="whatsapp" [href]="whatsapp" target="_blank" aria-label="WhatsApp">
    <app-svg-whatsapp></app-svg-whatsapp>
  </a>

</div>

