
// src/styles/_breakpoints
$breakpoints: (
  xs: 360px,
  sm: 480px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@function bp($key) {
  @return map-get($breakpoints, $key);
}

@mixin up($key) {
  @media (min-width: bp($key)) {
    @content;
  }
}

@mixin down($key) {
  @media (max-width: calc(bp($key) - 1px)) {
    @content;
  }
}

/* Range helper (facoltativo ma utilissimo) */
@mixin between($min, $max) {
  @media (min-width: bp($min)) and (max-width: calc(bp($max) - 1px)) {
    @content;
  }
}

