
/* src/styles/theme/_z-index.scss */

$z-index: (
  base: 1,
  header: 10,
  dropdown: 100,
  overlay: 200,
  modal: 300,
  toast: 400,
  debug: 999
);

@function z($key) {
  @return map-get($z-index, $key);
}

